body{
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    /*background-repeat: no-repeat, ;*/
}
.navbar{
    float:center;
    text-align: center;
}

.navbar li{
    display: inline;
}